{% extends 'base.html.twig' %}
{% block body %}
    <h2>Series List !</h2>
<section class="series-list">
    {% for serie in series %}
        <article><a href="{{ path('serie_show', {'id': serie.id}) }}">
            <img src="{{ asset('img/posters/series/'~serie.poster) }}" alt="{{ serie.name }}"></a>
            <p>{{ serie.name }}</p>
        </article>
    {% endfor %}
</section>
{%  endblock %}
{%  block title %}
    {{ parent() }} | List
{% endblock %}